.app-tab{
    padding: 6px 12px;
    border-radius: 6px;
    opacity: 0.29;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app-tab.--disabled{
    pointer-events: none;
}

.app-tab.tab-active{
    opacity: 0.8;
}

.app-tab .app-tab-content{
    color: var(--dark);

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}